/*
	En esta pagina se recoge el estilo de:
		. modificaciones de los elementos de html
		· el menu de navegacion (#header)
		· el pie de pagina (#footer)
		· clases comunes a todas las paginas (.text,etc)
*/
* {
  box-sizing: border-box;
}
.container{
  	margin: 0px;
}

body{
	background-image: url('../../img/BackGround2.png');
	background-repeat: no-repeat;
	background-attachment: fixed
	margin: 0px;
  font-family: arial;
}

#logo_inicio{
  padding: 30px;
  width: 50%;
  height: auto;
}
.titulo{
	font-size: 50px;
	padding: 30px;
  font-family: monospace;
}
/*
	Estilo de la barra de navegacion
*/
ul {
  list-style-type: none;
  margin: -8px;
  padding: 0px;
  overflow: hidden;
  background-color: #111111;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.column{
	float: left;
	width: 50%;
}

.row{
	background-color: none;
	text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
	Estilo de botones
*/

.botonGuay {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #aaaaaa;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 33%;
  font-size: 22px;
}
.botonGuay:hover{
   box-shadow: 5px 10px #888888;
}
#Botonempresa{
  background-color: #c9c9ff;
}
#Botonusuario{
  background-color: #ffbdbd;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.footer {
  background-color: #aaaaaa;
  position: fixed;
  margin: 0px 0px 0px -8px;
  width:  100%;
  bottom: 0px;
  text-align: center;
  padding: 10px;
}
