/*
	En esta pagina se recoge el estilo de:
		. modificaciones de los elementos de html
		· el menu de navegacion (#header)
		· el pie de pagina (#footer)
		· clases comunes a todas las paginas (.text,etc)
*/
* {
  box-sizing: border-box;
}
body{
	
	background-image: url(../../img/BackGround2.png');
	background-repeat: no-repeat;
	background-attachment: fixed
	margin: 0px;
}

.titulo{
	font-size: 50px;
	padding: 10px;
}
/*
	Estilo de la barra de navegacion
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.column{
	float: left;
	width: 50%;

}

.row{
	background-color: #c9c9ff;
	text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
	Estilo del pie de pagina
*/
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
