/*
	En esta pagina se recoge el estilo de:
		. modificaciones de los elementos de html
		· el menu de navegacion (#header)
		· el pie de pagina (#footer)
		· clases comunes a todas las paginas (.text,etc)
*/
* {
  box-sizing: border-box;
}
body{

	background-image: url('../../img/BackGround2.png');
	background-repeat: no-repeat;
	background-attachment: fixed
	margin: 0px;
  font-family: arial;
}

.titulo{
	font-size: 50px;
	padding: 30px;
  font-family: monospace;
}
/*
	Estilo de la barra de navegacion
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.column{
	float: left;
	width: 50%;

}

.row{
<<<<<<< HEAD
=======
	background-color: none;
>>>>>>> c3fa11d6efcf2e560b8bf028cadd1c28ec1b5839
	text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
	Estilo del pie de pagina
*/

.botonUsuario {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: black;
  text-align: center;
  cursor: pointer;
  background-color: #c9c9ff;
  width: 33%;
  font-size: 22px;
}
.botonEmpresa {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: black;
  text-align: center;
  background-color: #ffbdbd;
  cursor: pointer;
  width: 33%;
  font-size: 22px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.botonEmpresa:hover, a:hover {
   box-shadow: 5px 10px #888888;
}
.botonUsuario:hover, a:hover {
   box-shadow: 5px 10px #888888;
}
.footer {
<<<<<<< HEAD
  background-color: #aaaaaa;
  position: fixed;
  right: auto;
  width:  100%;
  bottom: 0px;
=======
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #F1F1F1;
>>>>>>> c3fa11d6efcf2e560b8bf028cadd1c28ec1b5839
  text-align: center;
  padding: 10px;
}
